<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>0</key>
		<string>全部</string>
		<key>1</key>
		<string>海贼王</string>
		<key>2</key>
		<string>火影忍者</string>
		<key>3</key>
		<string>死神</string>
		<key>4</key>
		<string>哆啦A梦</string>
		<key>5</key>
		<string>高达</string>
		<key>6</key>
		<string>魔兽世界</string>
		<key>7</key>
		<string>古风</string>
		<key>8</key>
		<string>原画</string>
		<key>9</key>
		<string>手绘</string>
		<key>10</key>
		<string>宫崎骏</string>
	</dict>
	<dict>
		<key>0</key>
		<string>全部</string>
		<key>1</key>
		<string>家常菜</string>
		<key>2</key>
		<string>烤箱食谱</string>
		<key>3</key>
		<string>甜品</string>
		<key>4</key>
		<string>煲汤</string>
		<key>5</key>
		<string>私家菜</string>
		<key>6</key>
		<string>舌尖上的中国</string>
	</dict>
	<dict>
		<key>0</key>
		<string>全部</string>
		<key>1</key>
		<string>壁纸设计</string>
		<key>2</key>
		<string>原创设计</string>
		<key>3</key>
		<string>产品设计</string>
		<key>4</key>
		<string>室内设计</string>
		<key>5</key>
		<string>纯艺术</string>
		<key>6</key>
		<string>GUI</string>
		<key>7</key>
		<string>图标</string>
		<key>8</key>
		<string>插画</string>
		<key>9</key>
		<string>手工艺</string>
	</dict>
	<dict>
		<key>0</key>
		<string>全部</string>
		<key>1</key>
		<string>跑车</string>
		<key>2</key>
		<string>法拉利</string>
		<key>3</key>
		<string>高清壁纸</string>
		<key>4</key>
		<string>奥迪</string>
		<key>5</key>
		<string>奔驰</string>
		<key>6</key>
		<string>老爷车</string>
		<key>7</key>
		<string>保时捷</string>
	</dict>
	<dict>
		<key>0</key>
		<string>全部</string>
		<key>1</key>
		<string>喵星人</string>
		<key>2</key>
		<string>萌宠</string>
		<key>3</key>
		<string>狗狗</string>
		<key>4</key>
		<string>宠物鼠</string>
		<key>5</key>
		<string>泰迪</string>
		<key>6</key>
		<string>萨摩耶</string>
	</dict>
	<dict>
		<key>0</key>
		<string>全部</string>
		<key>1</key>
		<string>风景</string>
		<key>2</key>
		<string>光绘</string>
		<key>3</key>
		<string>唯美</string>
		<key>4</key>
		<string>国家地理</string>
		<key>5</key>
		<string>生态摄影</string>
		<key>6</key>
		<string>城市建筑</string>
		<key>7</key>
		<string>人像</string>
		<key>8</key>
		<string>原创</string>
		<key>9</key>
		<string>lomo</string>
	</dict>
	<dict>
		<key>0</key>
		<string>全部</string>
		<key>1</key>
		<string>小清新</string>
		<key>2</key>
		<string>短发</string>
		<key>3</key>
		<string>校花</string>
		<key>4</key>
		<string>时尚</string>
		<key>5</key>
		<string>可爱</string>
		<key>6</key>
		<string>古典美女</string>
		<key>7</key>
		<string>唯美</string>
		<key>8</key>
		<string>气质</string>
	</dict>
	<dict>
		<key>0</key>
		<string>全部</string>
		<key>1</key>
		<string>户外婚礼</string>
		<key>2</key>
		<string>海滩婚礼</string>
		<key>3</key>
		<string>主题婚礼</string>
		<key>4</key>
		<string>婚纱礼服</string>
		<key>5</key>
		<string>婚戒首饰</string>
		<key>6</key>
		<string>婚礼灵感</string>
		<key>7</key>
		<string>婚纱摄影</string>
		<key>8</key>
		<string>头饰</string>
		<key>9</key>
		<string>结婚蛋糕</string>
		<key>10</key>
		<string>DIY创意</string>
	</dict>
</array>
</plist>
