<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Folders</key>
	<array>
		<dict>
			<key>FolderIcon</key>
			<string>glyphicons_149_folder_new.png</string>
			<key>FolderName</key>
			<string>新闻</string>
			<key>Items</key>
			<array>
				<dict>
					<key>BlogTitle</key>
					<string>Yahoo News</string>
					<key>BlogURL</key>
					<string>http://news.yahoo.com/rss/</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>新浪新闻</string>
					<key>BlogURL</key>
					<string>http://rss.sina.com.cn/news/marquee/ddt.xml</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>New York Times</string>
					<key>BlogURL</key>
					<string>http://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>BBC</string>
					<key>BlogURL</key>
					<string>http://feeds.bbci.co.uk/news/rss.xml</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FolderIcon</key>
			<string>glyphicons_291_snowman.png</string>
			<key>FolderName</key>
			<string>Fun</string>
			<key>Items</key>
			<array>
				<dict>
					<key>BlogTitle</key>
					<string>新浪奇闻异事</string>
					<key>BlogURL</key>
					<string>http://rss.sina.com.cn/news/society/wonder15.xml</string>
				</dict>
				<dict>
					<key>BlogTitle</key>
					<string>糗事百科</string>
					<key>BlogURL</key>
					<string>http://qiushibaike.lofter.com/rss</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
