<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CoinsFalls0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{500,502}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{500,502}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{500,502}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{23,23},{477,479}}</string>
				<key>spriteOffset</key>
				<string>{-11,-12}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{477,479}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{500,0},{477,479}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{47,47},{453,455}}</string>
				<key>spriteOffset</key>
				<string>{-23,-24}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{453,455}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{977,0},{453,455}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{69,69},{431,433}}</string>
				<key>spriteOffset</key>
				<string>{-34,-35}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{431,433}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1430,0},{431,433}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{93,93},{407,409}}</string>
				<key>spriteOffset</key>
				<string>{-46,-47}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{407,409}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,502},{407,409}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{115,117},{385,385}}</string>
				<key>spriteOffset</key>
				<string>{-57,-59}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{385,385}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{407,502},{385,385}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{139,139},{361,363}}</string>
				<key>spriteOffset</key>
				<string>{-69,-70}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{361,363}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{792,502},{361,363}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{163,163},{337,339}}</string>
				<key>spriteOffset</key>
				<string>{-81,-82}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{337,339}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1153,502},{337,339}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{185,186},{315,316}}</string>
				<key>spriteOffset</key>
				<string>{-92,-93}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{315,316}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1490,502},{315,316}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{209,209},{291,293}}</string>
				<key>spriteOffset</key>
				<string>{-104,-105}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{291,293}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,911},{291,293}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{231,233},{269,269}}</string>
				<key>spriteOffset</key>
				<string>{-115,-117}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{269,269}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{291,911},{269,269}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{255,255},{245,247}}</string>
				<key>spriteOffset</key>
				<string>{-127,-128}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{245,247}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{560,911},{245,247}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{277,279},{223,223}}</string>
				<key>spriteOffset</key>
				<string>{-138,-140}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{223,223}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{805,911},{223,223}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{301,303},{199,199}}</string>
				<key>spriteOffset</key>
				<string>{-150,-152}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{199,199}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1028,911},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{325,325},{175,177}}</string>
				<key>spriteOffset</key>
				<string>{-162,-163}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{175,177}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1227,911},{175,177}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{347,349},{153,153}}</string>
				<key>spriteOffset</key>
				<string>{-173,-175}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{153,153}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1402,911},{153,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{371,372},{129,130}}</string>
				<key>spriteOffset</key>
				<string>{-185,-186}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{129,130}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1555,911},{129,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{393,395},{107,107}}</string>
				<key>spriteOffset</key>
				<string>{-196,-198}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{107,107}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1684,911},{107,107}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{417,419},{83,83}}</string>
				<key>spriteOffset</key>
				<string>{-208,-210}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{83,83}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1791,911},{83,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CoinsFalls0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{440,441},{60,61}}</string>
				<key>spriteOffset</key>
				<string>{-220,-221}</string>
				<key>spriteSize</key>
				<string>{500,502}</string>
				<key>spriteSourceSize</key>
				<string>{60,61}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{1874,911},{60,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>CoinsFalls.png</string>
				<key>textureFileName</key>
				<string>CoinsFalls</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
